
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: rgb(204, 219, 240);
}

h1 {
	text-align:center;
}
 
#container {
  display:grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin:auto;
  max-width: 1050px;
}

/* #region media */

#audio {
  width: 100%;
  margin: .5rem auto;
  padding: 0 .5rem;
}

#vid {
	width: 528px;
	height: 528px;
  margin: auto;
}

#vidWrap {
  position: relative;
  width: 528px;
  height: 528px;
  margin: auto;
}

/* #endregion */

.col1 {
	border:1px solid black;
  height: fit-content;
}

/* #region controls */
#video_form {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

fieldset {
  width: 100%;
  border: 0;
  display: flex;
  justify-content: space-around;
}

fieldset.half {
  width: 45%;
}

/* #endregion */

.col2 {
	height: 100vh;
}

iframe {
	width:100%;
	height:100vh;
}

/* #region transcripts/subtitles */

::cue {
  position: absolute;
  width: 355px;
  left: 0;
  margin-top:-3.5em;
  min-height:3em;
  text-align: center;
  font-family: sans-serif;
  color: white;
  text-shadow: black 1px 1px 3px;
  padding: 1rem;
  background-color:rgba(86, 86, 86, 0);
}

#transcript span {
  display:table-row;
}

/* show the timings in square brackets before each "subtitle" in the transcript. */
#transcript [data-begin]::before {
  content: " [" attr(data-begin) "s-" attr(data-end) "s]   "; 
  font-size: 80%;
  display:table-cell;
  padding-right:1em;
}

/* #endregion */

/* #region pop-up */

.pop {
	position:absolute;
	bottom: 10%;
	right:10px;
	padding:15px;
	font-weight:bold;
	z-index:3;
  opacity: 1;
  transition: all .1s;
}

.styles {
  animation: 1s ease-out 0s 1 backwards fadeIn;
	background:rgba(99, 77, 55, .5);
	border:3px solid red;
	color:#fff;
}


.hide {
  opacity:0;
  pointer-events: none;
  transition: all 5s;
}
/* #endregion */

/* #region media queries */
@media screen and (max-width:1049px) {
  #container {
    grid-template-columns: 1fr;
  }

  .col2 {
    grid-row: 2;
  }
}

@media screen and (max-width: 600px) {
  #vid {
    width: 328px;
    height: 328px;
  }

  #vidWrap {
    width: 328px;
    height: 328px;
  }
}

/* #endregion */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}